<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hangMan495.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>316F88921DB4368B009946DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316F88A91DB4368B009946DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316F88B41DB4368B009946DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
