<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1036881410359-pukvbrlu7ingi6tg6u9t0gesa3gmk5fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036881410359-pukvbrlu7ingi6tg6u9t0gesa3gmk5fr</string>
	<key>API_KEY</key>
	<string>AIzaSyBG8Iw2dbPy-Bx1Shp90wHJRpJTYNYfV_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1036881410359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.csumb.cst495.moli9479.hangMan495</string>
	<key>PROJECT_ID</key>
	<string>hangman495-5224e</string>
	<key>STORAGE_BUCKET</key>
	<string>hangman495-5224e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036881410359:ios:470fd8c83a77232d</string>
	<key>DATABASE_URL</key>
	<string>https://hangman495-5224e.firebaseio.com</string>
</dict>
</plist>